<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationOfPlaces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9441C531E0219F400C3DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9441C6A1E0219F400C3DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9441C751E0219F400C3DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
